<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.boot.project.dao.SearchMapper">
<!-- 	
	 <select id="buyList" resultType="com.boot.project.dto.BuyDTO">
	      select * 
			from order_tbl
			join order_detail_tbl 
			on order_tbl.order_id = order_detail_tbl.order_id
  	 </select>
	  -->
	 <select id="inchargeList" resultType="com.boot.project.dto.InchargeDTO">
	      select emid
	      	   , em_name 
	      from employee_tbl_hjy
  	 </select>
	
	 <select id="clientList" resultType="com.boot.project.dto.ClientDTO">
	      select * from client_tbl_hjy
  	 </select>
	
	<!-- 

	 <update id="updateBoard" parameterType="com.boot.reactMapper.dto.BoardDTO">
	       UPDATE mvc_board_tbl
			 SET b_title = #{b_title} 
			   , b_content = #{b_content}
			   , b_writer = #{b_writer}
			   , b_password = #{b_password}
			WHERE b_num = #{b_num} 
  	 </update>

	 <delete id="deleteBoard" parameterType="int">
	       DELETE FROM mvc_board_tbl
 		    WHERE b_num = #{b_num} 
  	 </delete>
  	 
  	 <select id="findByNum" resultType="com.boot.reactMapper.dto.BoardDTO">
	      SELECT * FROM mvc_board_tbl
	        WHERE b_num = #{b_num}    
  	 </select> -->
</mapper>   