.text_center{
    text-align: center;
}

.area_fit{
    padding: 6px;
    width: 80%;
    max-width: 90px;
    height: 100%;
    font-size: 13px;
    vertical-align: middle;
    line-height: 1.8;
    margin: 0 auto;
}

.border_black_1px{
    border: 1px solid black;
}

.logiHeader{
    width: 100%;
    background-color: #8b8b8b;
    color: #ffffff;
    font-size: 28px;
    text-indent: 10px;
    border-radius: 10px;
    /* border-left: 8px solid rgb(255, 158, 158); */
    padding: 5px 0px;
}

.overflow_scroll{
    overflow: scroll;
}

.for_main{
    max-height: 270px;
    width: auto;
    height: 360px;
}

.flex_wrap_for_main{
    display: flex;
    flex-wrap: wrap;
    width:100%;
}

.main_components{
    width:100%;
}

.warp_for_left{
    width:90%
}

.warp_for_right{
    width:40%;
}

/* Car 박스*/
.card {
    max-width: 1160px;
    margin: 0 auto;
    padding: 50px 50px;
}

.card .text_center>p,
.card .text_center>div{
    margin-top: 15px;
    padding: 10px 0px;
}

/* 오른쪽 drawer 버튼 */
.right_drawer_btn{
    height: 100%;
}

.position_right{
    position: absolute;
    right: 0;
    height: 82%;
    width: 7%;
}

.rs-btn-icon-with-text.rs-btn.right_drawer_btn>.rs-icon{
    height: 100%;
}


/*물류 화면 크기 관련*/
main.rs-content {
    min-height: 560px;
    max-height: 100%;
}

.rs-table-body-wheel-area{
    min-height: max-content;
}

.for_main ~ .rs-table-body-row-wrapper{
    height: max-content;
}

.rs-table-loader-wrapper {
    display: none;
}


/* 버튼 크기 */
.btn.wide_fit{
    min-width: 120px;
}

/* a 링크 크기 */
.in_li{
    width: 100%;
    padding: 0;
    justify-content: center;
    margin: 0px 26px 0px 0px;
}

